

@media screen and (min-width: 768px) 
{
	.border-left
	{
		border-left:dashed;
	}
	.border-bottom
	{
		border-bottom:solid;
	}
	.border-right
	{
		border-right:solid:
	}
/*	.col-md-4
	{
		border-left:solid;
	}*/
	
}
.list-group-item {
    display: list-item;
}
ul.borderless li {
    border: none;
}
